
.dropdown-menu .dropdown-item:hover {
    background: #014464 !important;
    background: linear-gradient(left, #0272a7, #013953);
    background: -moz-linear-gradient(left, #0272a7, #013953) !important;
    background: -webkit-gradient(linear, 100% 100%, 0% 0%, from(#0272a7), to(#013953)) !important;
    color: #f8f9fa !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.bg-modal-jf {
    background: #014464 !important;
    background: linear-gradient(left, #0272a7, #013953);
    background: -moz-linear-gradient(left, #0272a7, #013953) !important;
    background: -webkit-gradient(linear, 100% 100%, 0% 0%, from(#0272a7), to(#013953)) !important;
    color: #f8f9fa !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*.form-control, .form-select {*/
/*    border: 1px solid #014464 !important*/
/*}*/