.contenedor-img {
    background-color: #74C0FC;
    display: flex;
    width: 200%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 300%;
}

.img-content {
    width: 275px;
    height: 230px;
    object-fit: cover;
    filter: brightness(70%);
}

.img-content:hover {
    background-color: #146EBE;
    filter: brightness(100%);
}

.texto-truncado-jf {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Número de líneas a mostrar */
    overflow: hidden;
}

.sub-texto-truncado-jf {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Número de líneas a mostrar */
    overflow: hidden;
}